<div class="wrapper fadeInDown">
    <div id="formContent">
  
      <div class="fadeIn first">
        <img src="../assets/icons/logointel.png" id="icon" alt="User Icon" />
      </div>
      <br>
  
      <form>
          <h1 style="color:#f9a828" class="display-3" >CERENOSYS</h1>
  
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
        <!--<input type="submit" class="fadeIn fourth" value="Log In" routerLink="/searchre">-->
      </form>
  
      <div id="formFooter">
        <a class="underlineHover"  (click)='open()'>Forgot Password?</a>
      </div>
  
    </div>
  </div>