<div class="modal-header">
        <img src="../../../assets/icons/logointel.png" class="img-fluid" width="50" height="50">
        <p class="my-auto mx-3">
            WordMe
        </p>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="signinForm" class="mx-auto">
            <div class="form-group row">
                <label for="exampleInputEmail1" class="col-sm-3 col-form-label h5">Correo:</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        formControlName="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputPassword1" class="col-sm-3 col-form-label h5">Contraseña:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 col-form-label h5">Confirmar contraseña:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="exampleInputPassword2"
                        formControlName="passwordVerification">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row mx-auto">
            <button type="button" class="btn btn-primary mx-2">Registrar</button>
            <button type="button" class="btn btn-secondary mx-2" (click)="activeModal.close('')">Cancelar</button>
        </div>
    </div>
<!--
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>
-->