<app-navbar></app-navbar>

          
<div class="wrapper fadeInDown">
        <div id="formContent">
<ngb-tabset [justify]="currentJustify">

    <ngb-tab>
          <ng-template ngbTabTitle>
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
              <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Cocina</button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem>Mexicana</button>
              <button ngbDropdownItem>Italiana</button>
              <button ngbDropdownItem>China</button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbTabContent>
         
          </ng-template>
        </ngb-tab>
         <ngb-tab>
          <ng-template ngbTabTitle>
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
              <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Alimento</button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem>Desayuno</button>
              <button ngbDropdownItem>Comida</button>
              <button ngbDropdownItem>Cena</button>
              <button ngbDropdownItem>Postre</button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbTabContent>
            
          </ng-template>
        </ngb-tab>
          <ngb-tab>
          <ng-template ngbTabTitle>
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
              <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Comida</button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem>Pescados</button>
              <button ngbDropdownItem>Carnes</button>
              <button ngbDropdownItem>Ensaladas</button>
              <button ngbDropdownItem>Snacks</button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbTabContent>
            
          </ng-template>
        </ngb-tab>
          <ngb-tab>
          <ng-template ngbTabTitle>
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
              <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Platillo</button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem>Proteina</button>
              <button ngbDropdownItem>Fruta</button>
              <button ngbDropdownItem>Vegetales</button>
              </div>
            </div>
          </ng-template>
          <ng-template ngbTabContent>
                
      <form>
        <div class="form-group form-inline">
           Busqueda: <input class="form-control ml-2" type="text" [formControl]="filter"/>
        </div>
      </form>
      

          
      <table class="table table-striped" >
        <thead>
        <tr >
          <th scope="col" >ID</th>
          <th scope="col">Ingrediente</th>
          <!--<th scope="col">Caducidad</th>-->
          <!--<th scope="col">P</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let Receta of recetas$ | async" >
           <td>
           <ngb-highlight [result]="Receta.id" [term]="filter.value"></ngb-highlight>
          </td>
          <td>
            <!--<img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + Receta.flag" class="mr-2" style="width: 20px">-->
            <ngb-highlight [result]="Receta.ingrediente" [term]="filter.value"></ngb-highlight>
          </td>
      
         
        <td><ngb-highlight button class="btn btn-lg btn-outline-primary"  type="submit" color="primary" mdbWavesEffect routerLink="/infore" routerLinkActive="active">
                
        </ngb-highlight></td>
          <!--
            <input type="submit" class="fadeIn fourth" value="Log In" routerLink="/searchre" routerLinkActive="active">  
            <button mdbBtn type="submit" color="primary" mdbWavesEffect>Button</button>
            
            <td><ngb-highlight [result]="Receta.caducidad | number" [term]="filter.value"></ngb-highlight></td>-->
          <!--<td><ngb-highlight [result]="Receta.population | number" [term]="filter.value"></ngb-highlight></td>-->
        </tr>
        </tbody>
      </table>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    
    </div>
</div>